/* This is how CSS comments look*/
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  
h1 {
    font-size: 60px;
    text-align: center;
  }
  
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
  }

  html {
    background-color: #04323d;
  }
  
  body {
    width: auto;
    height: 100%;
    margin: 0 auto;
    background-color: #0097df;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
/* Style a button for clicking */
  button {
    /* Center a single button */
    margin: auto;
    display: block;
    /* Actual button styling */
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid rgba(3, 3, 0, 0.6);
    background-color: #c47be6;
    color: #000000;
    box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
  }